<h4>2015 DLF Forum Program Planning Committee</h4>

<p>
    Celeste Â-Re, Library of Congress<br>
    Margaret Ann Browndorf, Towson University<br>
    Edward Bilodeau, McGill University<br>
    Amy Buckland, University of Chicago<br>
    Kevin Clair, University of Denver<br>
    Scott Hanrath, University of Kansas<br>
    Katie McCormick, Florida State University<br>
    Cindy McLellan, British Columbia Institute of Technology<br>
    Sarah Van Horn Melton, Emory University<br>
    Mary Molinaro, University of Kentucky<br>
    Bria Parker, University of Maryland<br>
    Sibyl Schaefer, University of California, San Diego<br>
    Justin Schell, University of Michigan<br>
    Larry Schmidt, University of Wyoming<br>
    Kelcy Shepherd, Amherst College<br>
    Bronwen Sprout, University of British Columbia<br>
    Laurie N. Taylor, University of Florida<br>
    Santi Thompson, University of Houston<br>
    Jocelyn Triplett, University of Virginia<br>
    Stewart Varner, University of North Carolina, Chapel Hill<br>
    Justin Wadland, University of Washington Tacoma<br>
    Cynthia York, Johns Hopkins University<br>
    Frederick Zarndt, Global Connexions
</p>