<h4>2014 DLF Forum Program Planning Committee</h4>

<p>Carolyn Caizzi (Northwestern University)<br>
Cristela Garcia-Spitz (UC San Diego)<br>
Mike Giarlo (Penn State University)<br>
Joshua Gomez (University of Southern California)<br>
Liz Gushee (Harry Ransom Center, UT Austin)<br>
Ann Hanlon (University of Wisconsin-Milwaukee)<br>
Amy Kautzman (UC Davis)<br>
Inna Kouper (Indiana University)<br>
Holly Mercer (University of Tennessee, Knoxville)<br>
Melanie Schlosser (Ohio State University)<br>
Sara Schmidt (Schreiner University)<br>
Lisa Snider (Canadian Museum for Human Rights)<br>
Jim Tuttle (Duke University)<br>
Annie Wu (University of Houston)<br>
Frederick Zarndt (IFLA Newspapers Section)</p>