---
layout: base
title: Program
eleventyNavigation:
  key: Program & Schedule
  order: 6
---

<strong>View the program and create your own schedule here: <a href="https://2014dlfforum.sched.org/" target="_blank">https://2014dlfforum.sched.org/</a>&nbsp;or for mobile: <a href="http://2014dlfforum.sched.org/mobile" target="_blank">http://2014dlfforum.sched.org/mobile</a>.</strong>

<p>Bookmark the <a href="https://drive.google.com/?authuser=0#folders/0B9KcGf1gyIuvM3Y3cDJGUHNscTA">Community Reporting Google docs</a> folder.</p>

<h2>Sunday, October 26, 2014</h2>
<table class="table">
    <tr>
        <td>9 am–5 pm</td>
        <td> CLIR/DLF Postdoctoral Fellowship Meeting</td>
        <td> Clough Commons–Rm 323</td>
        <td>Pre-Conference</td>
    </tr>
    <tr>
        <td>1:30–5:30 pm</td>
        <td> E-Research Peer Network and Mentoring Group Meeting </td>
        <td> SunTrust Suite, Rialto Center</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>1–5 pm</td>
        <td> Registration</td>
        <td> Hotel Lobby</td>
        <td>&nbsp;</td>
    </tr>
</table>

<h2>Monday, October 27, 2014</h2>
<table class="table">
    <tr>
        <td>7–9 am</td>
        <td>Breakfast</td>
        <td> Prefunction</td>
    </tr>
    <tr>
        <td>7 am–5 pm</td>
        <td> Registration</td>
        <td> Prefunction</td>
    </tr>
    <tr>
        <td>9–10:30 am</td>
        <td> Welcome and <a href="{{ '/program/keynotes' | url }}">Keynote Address</a>
        </td>
        <td> Grand Ballroom</td>
    </tr>
    <tr>
        <td>10:30–10:45 am</td>
        <td> Break</td>
        <td> Prefunction</td>
    </tr>
</table>

<h3>Concurrent Sessions</h3>

<table class="table">
    <tr>
        <td>10:45 am–12 pm</td>
        <td>
            <a href="{{ '/program/80z' | url }}">Linked Data for Libraries: From Experimentation to Practice at Scale</a>
        </td>
        <td>Salons 1,2,3</td>
        <td> Presentation</td>
    </tr>
    <tr>
        <td>10:45 am–12 pm</td>
        <td>
            <a href="{{ '/program/62z' | url }}"> An All Purpose Archives Viewer: Displaying Large Scale Archival Collections in Digital Libraries</a> and <a href="{{ '/program/65z' | url }}">Spotlight: A Self-Service Tool for Showcasing Digital Collections</a>
        </td>
        <td>Salons 4,5,6</td>
        <td> Presentation</td>
    </tr>
    <tr>
        <td>10:45 am–12 pm</td>
        <td>
            <a href="{{ '/program/40z43z' | url }}">Professional Development for Digital Scholarship</td>
            <td> Conference A</td>
            <td>Presentation</td>
        </tr>
    </table>

    <h3>Lunch Options</h3>
    <table class="table">
        <tr>
            <td>12:00-1:30 pm</td>
            <td>
                <a href="{{ '/program/74z' | url }}">From Zero to 60: Lessons Learned From Setting Up Digital Initiatives in Small to Mid-sized Academic Institutions</a>
            </td>
            <td>Conference E </td>
            <td>Working Session</td>
        </tr>
        <tr>
            <td>12:00-1:30 pm</td>
            <td>
                <a href="{{ '/program/01z' | url }}">Applied Altmetrics: Implementations and Uses within an Institution</a>
            </td>
            <td> Conference B</td>
            <td>Working Session</td>
        </tr>
        <tr>
            <td>12:00-1:30 pm</td>
            <td>
                <a href="{{ '/program/80z' | url }}">Linked Data</a>
            </td>
            <td> Conference A </td>
            <td>Birds of a Feather</td>
        </tr>
        <tr>
            <td>12:00-1:30 pm</td>
            <td> Buffet Lunch</td>
            <td> Conference Dining Hall </td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>1:30–3:30 pm</td>
            <td>
                <a href="{{ '/program/04z' | url }}">Hydra Installfest</a>
            </td>
            <td>Conference A</td>
            <td>Workshop</td>
        </tr>
        <tr>
            <td>1:30–2:30 pm</td>
            <td>
                <a href="{{ '/program/31z' | url }}">Catastrophic Success: The Challenges and Opportunities of Supporting Digital Scholarship at Liberal Arts Colleges</a>
            </td>
            <td>Salons 4,5,6</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>1:30–2:30 pm</td>
            <td>
                <a href="{{ '/program/38z' | url }}">Building a Community of Practice for Research Data Services: Experience of CLIR/DLF E-Research Peer Networking &amp; Mentoring Group</a>
            </td>
            <td>Salons 1,2,3</td>
            <td>Presentation</td>
        </tr>
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>2:30–3:30 pm</td>
            <td>
                <a href="{{ '/program/48z' | url }}">Researcher Identifiers—What's in a Name (or URI)?</a> and <a href="{{ '/program/58z' | url }}">SHARE: An Update on the SHared Access Research Ecosystem</a>
            </td>
            <td>Salons 4,5,6 </td>
            <td>Project Updates</td>
        </tr>
        <tr>
            <td>2:30–3:30 pm</td>
            <td>
                <a href="{{ '/program/36z' | url }}">Piloting a Peer-to-Peer Process for Becoming a Trusted Digital Repository</a> and <a href="{{ '/program/73z' | url }}">The Future of Fedora: Update on Fedora 4</a>
            </td>
            <td>Salons 1,2,3</td>
            <td>Project Updates</td>
        </tr>
        <tr>
            <td>2:30–3:30 pm</td>
            <td>
                <a href="{{ '/program/snapshots1#group-a' | url }}">Snapshots - Group A</a>
            </td>
            <td>Conference B</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>3:30–3:45 pm</td>
            <td>Break</td>
            <td>Prefunction</td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>3:45–5:15 pm</td>
            <td>
                <a href="{{ '/program/37z' | url }}">Managing the Digitization of Large Press Archives</a> and <a href="{{ '/program/59z' | url }}">Audio and Video at Scale: Indiana University's Media Digitization</a> and <a href="{{ '/program/63z' | url }}">Preservation Initiative and Building a Ten-Campus Digital Library Collection at the University of California</a>
            </td>
            <td>Salons 4,5,6</td>
            <td>Project Updates</td>
        </tr>
        <tr>
            <td>3:45–5:15 pm</td>
            <td>
                <a href="{{ '/program/54z' | url }}">Sustaining Open Source Software</a>
            </td>
            <td>Conference A</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>3:45–5:15 pm</td>
            <td>
                <a href="{{ '/program/snapshots1#group-b' | url }}">Snapshots - Group B</a>
            </td>
            <td>Conference B</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>5:15–8:00 pm</td>
            <td>Community Idea Exchange and Reception</td>
            <td>Grand Ballroom</td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <h2>Tuesday, October 28, 2014</h2>

    <table class="table">
        <tr>
            <td>7–9 am</td>
            <td>Breakfast</td>
            <td> Prefunction</td>
        </tr>
        <tr>
            <td>8 am–5 pm</td>
            <td>Registration</td>
            <td>Prefunction</td>
        </tr>
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>9–10:30 am</td> 
            <td><a href="{{ '/program/60z' | url }}">Avalon Media System: Implementation and Community</a></td>
            <td>Salons 1,2,3</td>
            <td>Deep Dive</td>
        </tr>
        <tr>
            <td>9–10:30 am</td> 
            <td><a href="{{ '/program/53z' | url }}">Big Collections in an Era of Big Copyright: Practical Strategies for Making the Most of Digitized Heritage</a></td>
            <td>Salons 4,5,6</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>9–10:30 am</td> 
            <td><a href="{{ '/program/61z' | url }}">Getting an Earful: The Unexpected Services of a Digital Scholarship Unit</a> and <a href="{{ '/program/46z' | url }}">The Best-Laid Schemes: Reflections on Three Years of the NEH ODH Data Management Plan Requirement</a></td>
            <td>Conference A</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>10:30–10:45 am</td>
            <td>Break</td>
            <td>Prefunction</td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>10:45 am–12:15 pm</td> 
            <td><a href="{{ '/program/78z' | url }}">Dive Into Kuali OLE </a></td>
            <td>Salons 1,2,3</td>
            <td>Deep Dive</td>
        </tr>
        <tr>
            <td>10:45 am–12:15 pm</td> 
            <td><a href="{{ '/program/21z' | url }}">Cultivating a Culture of Project Management</a></td>
            <td>Salons 4,5,6</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>10:45 am–12:15 pm</td> 
            <td><a href="{{ '/program/72z' | url }}">Experimental Scholarly Publishing: Building New Models with Distributed Communities of Practice</a></td>
            <td>Conference A</td>
            <td>Presentation</td>
        </tr>
    </table>

    <h3>Lunch Options</h3>

    <table class="table">
        <tr>
            <td>12:15-1:30 pm</td> 
            <td><a href="{{ '/program/11z' | url }}">DevOps for Digital Repositories</a></td>
            <td>Conference A</td>
            <td>Working Session</td>
        </tr>
        <tr>
            <td>12:15-1:30 pm</td> 
            <td><a href="{{ '/program/03z' | url }}">Future Commons: Imagining a Shared Vision of Scholarly Communication</a></td>
            <td>Conference B</td>
            <td>Working Session</td>
        </tr>
        <tr>
            <td>12:15-1:30 pm</td> 
            <td><a href="{{ '/program/21z' | url }}">Project Management</a></td>
            <td>Conference 2</td>
            <td>Birds of a Feather</td>
        </tr>
        <tr>
            <td>12:15-1:30 pm</td> 
            <td>Buffet Lunch</td>
            <td>Conference Dining Hall</td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>1:30–3:30 pm</td> 
            <td><a href="{{ '/program/05z' | url }}">Developing With Hydra</a></td>
            <td>Conference A</td>
            <td>Workshop</td>
        </tr>
        <tr>
            <td>1:30–3:30 pm</td> 
            <td><a href="{{ '/program/15z52z58z68z/' | url }}">Digital Public History: Community Connections and Collaborative Teaching Initiatives</a></td>
            <td>Salons 4,5,6</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>1:30–3:30 pm</td> 
            <td><a href="{{ '/program/07z/' | url }}">Best Practices in Geospatial Metadata</a></td>
            <td>Salons 1,2,3</td>
            <td>Working Session</td>
        </tr>
        <tr>
            <td>3:30–3:45 pm</td> 
            <td>Break</td>
            <td>Prefunction</td>
            <td>&nbsp;</td>
        </tr>
           
    </table>

    <h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>3:45–5:15</td> 
            <td><a href="{{ '/program/02z' | url }}">Using Confluence &amp; JIRA for Project Management</a></td>
            <td>Salons 1,2,3</td>
            <td>Deep Dive</td>
        </tr>
        <tr>
            <td>3:45–5:15</td> 
            <td><a href="{{ '/program/64z' | url }}">A Simple Approach to a Complicated Problem—Open Folklore Portal UX Improvements</a> and <a href="{{ '/program/35z' | url }}">A User-Centered Approach to Designing Digital Library Applications</a></td>
            <td>Salons 4,5,6</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>3:45–5:15</td> 
            <td><a href="{{ '/program/snapshots1#group-c' | url }}">Snapshots - Group C</a></td>
            <td>Conference A</td>
            <td>Presentation</td>
        </tr>        
        <tr>
            <td>6:30–8:00 pm</td> 
            <td><a href="{{ '/dine-arounds/' | url }}">Dine Arounds</a></td>
            <td>Offsite</td>
            <td>&nbsp;</td>
        </tr>
           
    </table>

    <h2>Wednesday, October 29, 2014</h2>

<table class="table">
    <tbody>
        <tr>
            <td>7–9 am</td>
            <td>Breakfast</td>
            <td> Prefunction</td>
        </tr>
        <tr>
            <td>8 am–3 pm</td>
            <td>Registration</td>
            <td>Prefunction</td>
        </tr>
        <tr>
            <td>8-8:50 am</td>
            <td><a href="{{ '/program/dlf-program-update/' | url }}">DLF Program Update</a></td>
            <td>Conference E</td>
        </tr>
    </tbody>
</table>

<h3>Concurrent Sessions</h3>

    <table class="table">
        <tr>
            <td>9–10 am</td> 
            <td><a href="{{ '/program/76z' | url }}">Running Up That Hill: The Academic Preservation Trust: A Community Based Approach to Digital Preservation and Accessing Digital Art: Emulation</a> and <a href="{{ '/program/35z' | url }}">Preservation of Complex Digital Art Objects </a></td>
            <td>Salons 1,2,3</td>
            <td>Project Updates</td>
        </tr>
        <tr>
            <td>9–10 am</td> 
            <td><a href="{{ '/program/17z' | url }}">Placing the IR Within the User's Workflow: Connecting Hydra-based Repositories with Zotero</a> and <a href="{{ '/program/35z' | url }}">Redesigning Electronic Record Processing and Preservation at NARA</a></td>
            <td>Salons 4,5,6</td>
            <td>Project Updates</td>
        </tr>
        <tr>
            <td>9–10 am</td> 
            <td><a href="{{ '/program/snapshots1#group-d' | url }}">Snapshots - Group D</a></td>
            <td>Conference A</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>9–10 am</td> 
            <td><a href="{{ '/program/hbcula' | url }}">Voice of the Past and Present; Ensuring a Digital Future: Blueprint of the HBCU Library Alliance</a></td>
            <td>Conference B</td>
            <td>Presentation</td>
        </tr>
        <tr>
            <td>10–10:15 am</td>
            <td>Break</td>
            <td>Prefunction</td>
            <td>&nbsp;</td>
        </tr>           
    </table>

<h3>Concurrent Sessions</h3>

<table class="table">
    <tr>
        <td>10:15–11:45 am</td>
        <td><a href="{{ '/program/32z' | url }}">Moving Forward with Digital Library Assessment</a></td>
        <td>Salons 1,2,3</td>
        <td>Presentation</td>
    </tr>
    <tr>
        <td>10:15–11:45 am</td>
        <td><a href="{{ '/program/47z' | url }}">Perspectives on Supporting and Administering Maker Culture and Programs in Libraries</a></td>
        <td>Salons 4,5,6</td>
        <td>Presentation</td>
    </tr>
    <tr>
        <td>10:15–11:45 am</td>
        <td><a href="{{ '/program/12z41z' | url }}">Beyond the Digital Surrogate: Discovery and Analysis of Digital Collections Conference</a></td>
        <td>Conference A</td>
        <td>Presentation</td>
    </tr>
    </table>

    <h3>Lunch Options</h3>

<table class="table">
    <tr>
        <td>11:45 am-1 pm</td>
        <td><a href="{{ '/program/06z' | url }}">Developing an Understanding of Librarian 3.0</a></td>
        <td>Conference A</td>
        <td>Birds of a Feather</td>
    </tr>
    <tr>
        <td>11:45 am-1 pm</td>
        <td><a href="{{ '/program/32z' | url }}">Digital Assessment</a></td>
        <td>Conference B</td>
        <td>Birds of a Feather</td>
    </tr>
    <tr>
        <td>11:45 am-1 pm</td>
        <td>Buffet Lunch</td>
        <td>Conference Dining Hall</td>
        <td>&nbsp;</td>
    </tr>

    </table>

    <table class="table">
        <tr>
            <td>1–2:30 pm</td>
            <td>Closing Remarks and Keynote Address</td>
            <td>Grand Ballroom</td>
        </tr>
        <tr>
            <td>3–5 pm</td>
            <td><a href="{{ '/registration/allies/' | url }}">Ally Skills Workshop</a></td>
            <td>Conference B</td>
        </tr>
        <tr>
            <td>3–5 pm</td>
            <td>docWorks User's Group Meeting</td>
            <td>Conference E</td>
        </tr>
         
    </table>

    <h2>Thursday, October 30, 2014</h2>

    <table class="table">
        <tr>
            <td>8:30 am–5 pm</td>
            <td>Listening-Based Python Workshop</td>
            <td>Woodruff Library, Rm 314, Emory University</td>
            <td>Post-Conference</td>
        </tr>
        <tr>
            <td>9 am–4 pm</td>
            <td><a href="{{ '/registration/taiga/' | url }}">Taiga Forum</a></td>
            <td>10 Jones Room, Emory University Library</td>
            <td>Post-Conference</td>
        </tr>
   
    </table>

    {# {% for session in collections.all %}
        <p>
            <a href="{{ session.url }}">{{ session.data.title }}</a>
        </p>
    {% endfor %} #}

    <p>For lunch sessions, attendees can grab a box lunch before heading to their room. <a href="https://docs.google.com/forms/d/1y-7sK4XMt-GqwD_mMwg05C-_GyBh0t3JiPzyy8jIsxE/viewform" target="_blank">Sign up</a> for your box lunch(es) by October 16.</p>

    <p>
        <a href="{{'/forum-venues/' | url }}">Forum Venues</a><br>
        <a href="{{ '/assets/GTHCC-Floor-Plan.pdf' | url }}">Georgia Tech Hotel &amp; Conference Center Level 2 Map</a><br>
        <a href="https://2014dlfforum.sched.org/" target="_blank">Print the schedule from sched.org</a>
    </p>