---
title: Sponsors
layout: base
image: /assets/images/West-End-with-snowy-mountains-to-ed.jpg
eleventyNavigation:
  key: Sponsors
  order: 13
---

<p>DLF would like to thank the following 2015 Forum sponsors:</p>

<span class="my-5 badge bg-dark btn-lg badge-lg">LOCAL HOST</span>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card">
      <a href="https://www.library.ubc.ca/"><img class="card-img-top" src="/assets/images/Library_sig1_blue_CMYK.png" alt="University of British Columbia Library"></a>
    </div>
  </div>
</div>


<span class="my-5 badge bg-platinum btn-lg badge-lg text-dark">Platinum</span>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card">
      <a href="https://www.kressfoundation.org/"><img class="card-img-top" src="/assets/images/Kress_square-150x150.jpg" alt="Kress Foundation"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="https://figshare.com/"><img class="card-img-top" src="/assets/images/figshare.jpg" alt="Figshare"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="https://www.altmetric.com/"><img class="card-img-top" src="/assets/images/altmetric.jpg" alt="Altmetric"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="http://symplectic.co.uk/"><img class="card-img-top" src="/assets/images/symplectic.jpg" alt="symplectic"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="https://www.digital-science.com/"><img class="card-img-top" src="/assets/images/digital-science.jpg" alt="Digital Science"></a>
    </div>
  </div>
</div>

<span class="my-5 badge bg-gold btn-lg badge-lg">GOLD</span>



<span class="my-5 badge bg-silver btn-lg badge-lg">Silver</span>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

  <div class="col">
    <div class="card">
      <a href="http://content-conversion.com/?lang=en"><img class="card-img-top" src="/assets/images/content-conversion.jpg" alt="content-conversion"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="http://www.dtdch.com/"><img class="card-img-top" src="/assets/images/digital-transitions.jpg" alt="digital transitions"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="http://www.iii.com"><img class="card-img-top" src="/assets/images/Innovative_Logo_2014.jpg" alt="iii"></a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="http://www.electroniclibrarian.com"><img class="card-img-top" src="/assets/images/ERL_logo_square.jpg" alt="ER&amp;L"></a>
    </div>
  </div>

</div>

<span class="my-5 badge bg-green btn-lg badge-lg">Water Bottles</span>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

  <div class="col">
    <div class="card">
      <a href="http://www.alexanderstreet.com">
      <img class="card-img-top" src="{{ '/assets/images/redlogojpg.jpg' | url }}" alt="Alexander Street Press">
      </a>
    </div>
  </div>
</div>

<span class="my-5 badge bg-blue btn-lg badge-lg">Local Partners</span>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
  <div class="col">
    <div class="card">
      <a href="http://library.gsu.edu/">
        <img  class="card-img-top" src="{{ '/assets/images/GSU_logo.jpg' | url }}" alt="Georgia State University">
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="https://library.gatech.edu/">
        <img class="card-img-top" src="{{ '/assets/images/GTLIBLOGO.jpg' | url }}" alt="Georgia Tech Libraries">
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="http://web.library.emory.edu/">
        <img class="card-img-top" src="{{ '/assets/images/Emory_logo_sched.jpg' | url }}" alt="Emory University Libraries">
      </a>
    </div>
  </div>
</div>

<span class="my-5 badge bg-darkgray btn-lg badge-lg">Contributor</span>

<div class="row mb-5 row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

  <div class="col">
    <div class="card">
      <a href="http://www.mendeley.com/">
        <img  class="card-img-top" src="{{ '/assets/images/Mendeley_logo_Sept2010.jpg' | url }}" alt="Mendeley">
      </a>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href="http://www.elsevier.com/">
        <img  class="card-img-top" src="{{ '/assets/images/Elsevierlogo1.jpg' | url }}" alt="Elsevier">
      </a>
    </div>
  </div>
</div>
